.info-container{
    margin-top: 10px;
}
.info-container h3 {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 3px;
    color: #8b8b8b;
    text-align: left;
}
.language-container{
    flex: 1 1;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    padding-right: 15px;
    justify-content: start;
    margin: 0px
}
.lang-skill{
    font-size: 9px;
    font-weight: 500;
    color: #4943da;
    background-color: #d9fed3;
    padding: 2px 7px;
    border-radius: 50px;
    margin: 2px 5px 2px 0px;
}
.body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
  }